@model CyberSoftDataCenter.Models.Villes

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Villes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pays.PaysID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VillesID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
