@model IEnumerable<CyberSoftDataCenter.Models.DetaillesVentes>

@{
    ViewData["Title"] = "DetailsProduits";
}

<h2>Details de la vente</h2>

<table class=" table table-hover table-striped table-bordered">
    <thead>
        <tr>
                <th>
                   Prix de vente
                </th>
                <th>
                   Produit
                </th>
                <th>
                  Quantit&eacute;
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Montant)
                </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.prixVente) F
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montant) F
            </td>
           
            <td>
               
            </td>
        </tr>
}
    </tbody>
</table>
<hr />
<a class="btn btn-success" asp-action="Index">Fermer les d&eacute;tails</a>